<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/main.css" rel="stylesheet"/>
</head>
<body>
<form th:method="POST" th:action="@{/login}">
    <label for="username">Username: <input type="text" id="username" name="username"></label><br><br>
    <label for="password">Password: <input type="password" id="password" name="password"></label><br><br>

    <div th:if="${hasError}" class="error">
        <div th:text="${error}"></div>
    </div>

    <input type="submit" value="Submit">
</form>
</body>
</html>